.elementExamplePositionRelative {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.elementExamplePositionRelative_first {
    background-color: rgb(50, 180, 93);
    position: relative;
}

.elementExamplePositionRelative_last {
    background-color: #C0392B;
    position: relative;
    bottom: 200px;
}

.elementExample_isActive {
    z-index: 1;
}